@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';



// LEAD IN
.lead-in {
  margin-bottom: 2em;
  h1, p {
    color: $navy;
  }
  h1 {
    font-size: 1.9rem;
    margin-bottom: 1em;
  }
  .lead {
    font-weight: $reg;
    font-size: 1.6rem;
    line-height: 1.3em;
    margin-bottom: 2.0em;
  }
}

// STEP 1 BUTTONS
.setting-toggle .btn-group-toggle > .btn-primary {
}

.setting-toggle .btn-group-toggle > .btn-primary.disabled {
  background-color: #fff;
}

/*
.setting-toggle {
  .btn-primary:not(:disabled):not(.disabled).active {
    background-color: $orange;
    border: none;
    color: #fff;
  }
*/

.setting-toggle {
  .btn-group-toggle > .btn-primary {
    background-color: $lt-orange;
    border: $orange 1px solid;
    color: #fff;
  }
}

// CANCER INPUTS
.cancer-inputs {
  .card {
    padding: 1.0rem 1.6rem;
    border: $pale-turq 1px solid;
    margin-bottom: 2.0rem;
  }
  .card-title {
    background-color: unset;
    color: #000;
    font-family: $mont;
    font-weight: $ex-bold;
    padding-left: 0;
  }
}


