@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';

.lead-in {
  h1, p {
    color: $navy;
  }
  .lead {
    font-weight: $reg;
  }
}

// STEP 1 BUTTONS
.setting-toggle .btn-group-toggle > .btn-primary {
}

.setting-toggle .btn-group-toggle > .btn-primary.disabled {
  background-color: #fff;
}

/*
.setting-toggle {
  .btn-primary:not(:disabled):not(.disabled).active {
    background-color: $orange;
    border: none;
    color: #fff;
  }
*/

.setting-toggle {
  .btn-group-toggle > .btn-primary {
    background-color: $lt-orange;
    border: $orange 1px solid;
    color: #fff;
  }
}

// CANCER INPUTS
.cancer-inputs {
  .card {
    padding: 1.0rem 1.6rem;
    border: $pale-turq 1px solid;
    margin-bottom: 2.0rem;
  }
  .card-title {
    background-color: unset;
    color: #000;
    font-family: $mont;
    font-weight: $ex-bold;
    padding-left: 0;
  }
}

.forecast-table {
  font-family: $mont;
  .table-bordered,
  .table-bordered td {
    border: $pale-turq 1px solid;
  }
  thead {
    background-color: $navy;
    color: #fff;
    th {
      border: none;
    }
  }
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: $pale-blue;
  }
}

