@import './fonts.scss';
@import './colors.scss';

html {
  font-size: 100% !important;
}

body {
  font-family: $source;
  font-size: 1.3em;
  color: $navy;
}

p {
  margin-bottom: 1.3em;
}

h1, h2 {
  font-family: $mont;
}

h1 {
  font-weight: $semi;
  strong {
    font-weight: $ex-bold;
  }
}

a {
  text-decoration: underline;
}

strong {
  font-weight: $bold;
}

// CONTAINER 
.container-xxl {
  max-width: 1280px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

// CARD
.card {
  border: none;
  border-radius: unset;
}
.card-body {
  padding: 0
}

.card-title {
  background-color: $lt-blue;
  color: #fff;
  font-size: 2.1rem;
  font-weight: $bold;
  padding: 10px 25px;
  margin-bottom: 0.3rem;
}

.card-title.h5 {
  font-size: 1.25rem;
}

.card-text {
  padding: 26px 36px;
}

.card-border {
  border: $turq 1px solid;
}

// FORM
.form-label {
  color: #000;
  font-family: $mont;
  font-weight: $ex-bold;
}

select.form-control, 
.custom-select {
  border-radius: unset;
  border-color: $dk-gray;
  color: $navy;
  font-size: 1.2rem;
}

input[type="number"],
input[type="text"] {
  border-color: $navy;
  border-radius: unset;
}

// BUTTON
.btn-group {
  margin-top: 1.0rem;
  margin-bottom: 2.5rem;
}

.btn-group > .btn {
  width: 186px;
  padding: .5rem 1rem;
  font-size: 1.2rem;
}

.btn-group-lg > .btn {
  width: 256px;
  padding: .7rem 1.2rem;
}

.btn-group-sm {
  margin: 0.4rem;
}

.btn-group-sm > .btn {
  width: 100px;
  padding: .3rem 0.5rem;
  font-size: 1.0rem;
}

.btn-group-vertical > .btn {
  font-weight: $med;
  padding: .5rem 1.4rem;
}

.btn-outline-info {
  border-color: $pale-turq;
  color: $navy;
  text-align: left;
}

.btn-outline-info:hover,
.btn-outline-info:focus,
.btn-outline-info:active,
.btn-outline-info:not(:disabled):not(.disabled).active {
  background-color: $navy;
  color: #fff;
}

.btn {
  font-family: $mont;
  font-weight: $bold;
}

.btn-primary:not(:disabled):not(.disabled).active {
  background-color: $orange;
  border: none;
  color: #fff;
}

.btn-primary,
.btn-group-toggle > .btn-primary {
  background-color: #fff;
  border: $orange 1px solid;
  color: $orange;
}

.btn-group-lg >.btn, .btn-lg,
.btn-group >.btn, .btn {
  border-radius: unset;
}

.btn-primary {
  border: $orange 1px solid;
}

.btn-xl {
  width: 354px;
  font-size: 1.3rem;
  padding: 0.5em 1.0em;
}

// TIP
.forecast-tip {
  font-weight: $bold;
  .badge {
    font-family: $mont;
    text-decoration: none;
    margin-right: 0.5rem;
    border-radius: unset;
    padding: 0.35em 0.7em;
    font-size: 1.1rem;
  }
}

// TABLE
.forecast-table {
  font-family: $mont;
  font-size: 1.1rem;
  line-height: 1.2em;
  td {
    vertical-align: middle;
    color: $navy;
    font-weight: $med;
  }
  .table-bordered,
  .table-bordered td {
    border: $pale-turq 1px solid;
  }
  .table-sm td,
  .table-sm th {
    padding-left: 1.2em;
  }
  .table-sm th {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
  }
  thead {
    background-color: $navy;
    color: #fff;
    th {
      border: none;
      vertical-align: middle;
    }
  }
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: $pale-blue;
  }
  .table-sm td {
    font-size: 1.0rem;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

