@import './fonts.scss';
@import './colors.scss';

html {
  font-size: 100% !important;
}

body {
  font-family: $source;
  font-size: 1.3em;
  color: $navy;
}

h1, h2 {
  font-family: $mont;
}

h1 {
  font-weight: $semi;
  strong {
    font-weight: $ex-bold;
  }
}

// CARD
.card {
  border: none;
}
.card-body {
  padding: 0
}

.card-title {
  background-color: $lt-blue;
  color: #fff;
  font-weight: $bold;
  padding: 10px 25px;
}

.card-text {
  border: $turq 1px solid;
  padding: 26px 36px;
}

// FORM
.form-label {
  color: #000;
  font-family: $mont;
  font-weight: $ex-bold;
}

select.form-control, 
.custom-select {
  border-radius: unset;
  border-color: $dk-gray;
  color: $navy;
  font-size: 1.2rem;
}

// BUTTON
.btn-group > .btn {
  width: 186px;
  padding: .5rem 1rem;
  font-size: 1.2rem;
}

.btn-group-lg > .btn {
  width: 256px;
  padding: .7rem 1.2rem;
}

.btn-group-sm > .btn {
  width: 100px;
  padding: .3rem 0.5rem;
  font-size: 1.0rem;
}
.btn {
  font-family: $mont;
  font-weight: $bold;
}

.btn-primary:not(:disabled):not(.disabled).active {
  background-color: $orange;
  border: none;
  color: #fff;
}

.btn-group-toggle > .btn-primary {
  background-color: #fff;
  border: $orange 1px solid;
  color: $orange;
}

.btn-group-lg >.btn, .btn-lg,
.btn-group >.btn, .btn {
  border-radius: unset;
}

.btn-primary {
  border: $orange 1px solid;
}
