@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

// Header
header {
  background-color: #004A70;
}

.bkgrd-ht {
  height: 116px;
}

.bkgrd-left {
  width: 20%;
  position: absolute;
  left: 0;
}

.logo-bkgrd-color {
  background-color: #EA9C3A;
}

.logo-container {
  border-right: #fff 9px solid;
}

.menu-links {
  margin-top: -15px;
  .navbar-light .navbar-nav .nav-link {
    padding-bottom: 0.2em;
    font-family: $mont;
    color: #fff;
  }
  a {
    text-decoration: none;
  }
  .nav-link {
    font-weight: $semi;
    border-bottom-color: transparent;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    margin-right: 1em;
  }
  .nav-link.active {
    border-bottom-color: #fff;
  }
  .navbar-light .navbar-nav {
    .nav-link:hover {
      color: $lt-blue;
    }
  }
}

// Content
.content-bkgrd {
  background: #fff;
}

.content-padding {
  padding-top: 3.5em;
  padding-bottom: 3.5em;
}

// Footer
footer {
  text-align: center;
  color: #fff;
  font-size: 0.8em;
  a, a:hover, a:active, a:focus {
    color: #fff;
  }
}

.footer-padding {
  padding-top: 3em;
  padding-bottom: 2.5em;
}

.footer-tagline {
  display: inline-block;
  border-top: #fff 1px solid;
  padding: 10px 16px;
  font-weight: $semi;
}

// Loading spinner
.loading-overlay {
  position: fixed;
  background-color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 998;
}
.loading-spinner-border {
  z-index: 999;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
}

// Popover
.forecast-popover.bs-popover-top>.arrow::before {
  border-top-color: rgba(54, 169, 231, 1);;
}

.forecast-popover.popover {
  border-color: $lt-blue;
  color: $navy;
  .popover-header {
    font-family: $mont;
    font-weight: $bold;
    background: none;
    border: none;
    font-size: 1.1rem;
    padding: 0.7rem 0.9rem 0 0.9rem;
  }
  .popover-body {
    padding: 0.7rem 0.9rem;
    color: $navy;
    font-size: 0.95rem;
  }
}

// Modal
.modal {
  .modal-content {
    border-color: $lt-blue;
  }
  .modal-header {
    padding: 1.0rem 1.7rem 0.7rem 1.7rem;
    border: none;
    h1 {
      font-size: 2.1rem;
      font-weight: $bold;
    }
    .close {
      font-size: 2.0rem;
      color: $navy;
      opacity: 1;
    }
  }
  .modal-body {
    padding: 1.0rem 1.7rem;
  }
}
