@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

header {
  background-color: #004A70;
}

.bkgrd-ht {
  height: 116px;
}

.bkgrd-left {
  width: 20%;
  position: absolute;
  left: 0;
}

.logo-bkgrd-color {
  background-color: #EA9C3A;
}

.logo-container {
  border-right: #fff 9px solid;
}

.menu-links {
  margin-top: -15px;
  .navbar-light .navbar-nav .nav-link {
    padding-bottom: 0.2em;
    font-family: $mont;
    color: #fff;
  }
  a {
    text-decoration: none;
  }
  .nav-link {
    font-weight: $semi;
    border-bottom-color: transparent;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    margin-right: 1em;
  }
  .nav-link.active {
    border-bottom-color: #fff;
  }
  .navbar-light .navbar-nav {
    .nav-link:hover {
      color: $lt-blue;
    }
  }
}
